<% if @user %>
  <%= @user.username %> logged in
<% end %>

<ul>
Host spaces <br>
  <% @user_spaces.each do |space| %>
    <li class="space" id="space-<%= space.id%>">
      <%=space.name_of_space %><br>
      Description: <%=space.description %><br>
      Price per night: £<%=space.price_per_night %>
    </li>
  <%end%>
</ul>

<form action="/sessions/destroy" method="post" >
  <input type="submit" value="Log out" >
</form>

<form action="/spaces" method="get">
  <input type="submit" value="Spaces Page"/>
</form>

<form action="/spaces/add" method="get">
  <input type="submit" value="Add new space"/>
</form>

<ul>
Host requests<br>
  <% @host_requests.each do |request| %>
     <li class="request" id="request-<%= request.id%>">
       <%= User.find(id: request.sender_id).username %> has requested to book <%=
        Space.find(id: request.space_id).name_of_space %> 
       Message: <%= request.message %> 
       Status: <%= request.status %> 
       <% if request.status == 'pending' %>
        <form action="/request/accept/<%= request.id %>" method="post">
          <input type="submit" value="Accept"/>
        </form>
        <form action="/request/reject/<%= request.id %>" method="post">
          <input type="submit" value="Reject"/>
        </form>
      <% end %>
    </li>
  <%end%>
</ul>  

<ul>
Guest requests<br>
  <% @guest_requests.each do |request| %>
     <li class="request" id="request-<%= request.id%>">
       You have requested to book
       <%= Space.find(id: request.space_id).name_of_space %> 
       Message: <%= request.message %> 
       Status: <%= request.status %> 
    </li>
  <%end%>
</ul>  