<% if @user %>
  <%= @user.username %> logged in
<% end %>

<ul>
  <% @user_spaces.each do |space| %>
    <li class="space" id="space-<%= space.id%>">
      <%=space.name_of_space %>
    </li>
  <%end%>
</ul>

<form action="/sessions/destroy" method="post" >
  <input type="submit" value="Log out" >
</form>

<form action="/spaces" method="get">
  <input type="submit" value="Spaces Page"/>
</form>

<form action="/spaces/add" method="get">
  <input type="submit" value="Add new space"/>
</form>

<ul>
  <% @host_requests.each do |request| %>
     <li class="request" id="request-<%= request.id%>">
       <%= User.find(id: request.sender_id).username %> has requested to book <%=
        Space.find(id: request.space_id).name_of_space %> 
       Message: <%= request.message %> 
       Status: <%= request.status %> 
    </li>
  <%end%>
</ul>  