<% if @user %>

  <%= @user.username %> logged in

<% end %>

<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id%>">
      <% if space.available %>
        <%=space.name_of_space %><br>
        Description: <%=space.description %><br>
        Price per night: £<%=space.price_per_night %>
        <form action="/spaces/request/<%= space.id %>" method="get">
          <input type="hidden" name="request"/>
          <input type="submit" value="request"/>
        </form>
      <% end %>
    </li>
  <%end%>
</ul>

<form action="/user" method="get">
  <input type="submit" value="User Page"/>
</form>

<form action="/spaces/add" method="get">
  <input type="submit" value="Add new space"/>
</form>